/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* box-sizing: border-box; */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* +basic settings html, body*/
html, body{
    height: 100%;
    min-width: 320px;
}
body{
    line-height: 1;
}
/* ========================================== */
.wrapper__title{
    padding: 15px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.swiper{
    text-align: center;
    padding-bottom: 50px;
    /* 
    Для ефекта куб: 
    width:500px;
    */
}
.swiper-wrapper{
    padding-bottom: 20px;
    height: 500px;


}
.swiper-slide {
}

.swiper-slide img {
    max-width: 100%;
}
/* Дизайн стрілок: */
.swiper-button-prev::after, 
.swiper-button-next::after {
    color: darkgreen;
    font-size: 80px;
}
/* Дизайн пагінації: */
.swiper-pagination{
    bottom: 0;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #00f5fd;
}
/* Фракції: */
.swiper-pagination-fraction {
    color: blueviolet;
    font-size: 20px;
    margin-bottom: 30px;
}
/* Прогресбар: */
.swiper-pagination-progressbar-fill {
    background-color: #00decc;
}
/* Скрол: */
.swiper-scrollbar {

}
.swiper-scrollbar-drag{
    cursor: pointer;
    background-color: #08bc0e;
}